<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Sign up</h1>
    
    {{#if hasError}}
      <div class="alert alert-danger">
        {{#each errorMsg}}
          <p>{{ this }}</p>
        {{/each}}
      </div>
    {{/if}}
    
    <form action="/user/signup" method="post">
      <!-- form group to group label and field -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control"/>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control"/>
      </div>
      
      <input type="hidden" name="_csrf" value="{{ csurfProtect }}" />
      <button type="submit" class="btn btn-primary">Sign up</button>
      
      <br/>
      {{ csurfProtect }}
    </form>
  </div>
</div>


