<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.iphonehacks.com/wp-content/uploads/2014/08/walking-dead-free.jpg" alt="walking dead">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Donec eget massa sit amet tortor efficitur mattis. Vestibulum ut libero eget augue tempus scelerisque et vitae nunc. In consectetur urna vitae diam auctor, vitae pharetra leo lobortis. Suspendisse faucibus enim diam, eu dapibus ipsum hendrerit non. Vestibulum imperdiet urna ac nisi mollis, at interdum ante lobortis. Curabitur sagittis justo ex. Aliquam nec elit et augue sodales scelerisque.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.iphonehacks.com/wp-content/uploads/2014/08/walking-dead-free.jpg" alt="walking dead">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Donec eget massa sit amet tortor efficitur mattis. Vestibulum ut libero eget augue tempus scelerisque et vitae nunc. In consectetur urna vitae diam auctor, vitae pharetra leo lobortis. Suspendisse faucibus enim diam, eu dapibus ipsum hendrerit non. Vestibulum imperdiet urna ac nisi mollis, at interdum ante lobortis. Curabitur sagittis justo ex. Aliquam nec elit et augue sodales scelerisque.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.iphonehacks.com/wp-content/uploads/2014/08/walking-dead-free.jpg" alt="walking dead">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Donec eget massa sit amet tortor efficitur mattis. Vestibulum ut libero eget augue tempus scelerisque et vitae nunc. In consectetur urna vitae diam auctor, vitae pharetra leo lobortis. Suspendisse faucibus enim diam, eu dapibus ipsum hendrerit non. Vestibulum imperdiet urna ac nisi mollis, at interdum ante lobortis. Curabitur sagittis justo ex. Aliquam nec elit et augue sodales scelerisque.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.iphonehacks.com/wp-content/uploads/2014/08/walking-dead-free.jpg" alt="walking dead">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Donec eget massa sit amet tortor efficitur mattis. Vestibulum ut libero eget augue tempus scelerisque et vitae nunc. In consectetur urna vitae diam auctor, vitae pharetra leo lobortis. Suspendisse faucibus enim diam, eu dapibus ipsum hendrerit non. Vestibulum imperdiet urna ac nisi mollis, at interdum ante lobortis. Curabitur sagittis justo ex. Aliquam nec elit et augue sodales scelerisque.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.iphonehacks.com/wp-content/uploads/2014/08/walking-dead-free.jpg" alt="walking dead">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Donec eget massa sit amet tortor efficitur mattis. Vestibulum ut libero eget augue tempus scelerisque et vitae nunc. In consectetur urna vitae diam auctor, vitae pharetra leo lobortis. Suspendisse faucibus enim diam, eu dapibus ipsum hendrerit non. Vestibulum imperdiet urna ac nisi mollis, at interdum ante lobortis. Curabitur sagittis justo ex. Aliquam nec elit et augue sodales scelerisque.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.iphonehacks.com/wp-content/uploads/2014/08/walking-dead-free.jpg" alt="walking dead">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Donec eget massa sit amet tortor efficitur mattis. Vestibulum ut libero eget augue tempus scelerisque et vitae nunc. In consectetur urna vitae diam auctor, vitae pharetra leo lobortis. Suspendisse faucibus enim diam, eu dapibus ipsum hendrerit non. Vestibulum imperdiet urna ac nisi mollis, at interdum ante lobortis. Curabitur sagittis justo ex. Aliquam nec elit et augue sodales scelerisque.</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
      </div>
    </div>
  </div>
</div>
